body {
  display: flex;
  justify-content: center;
  text-align: center;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
h1 {
  display: flex;
  justify-content: center;
}
.card-container {
  display: flex;
  justify-content: center;
  place-content: space-around;
  flex-wrap: wrap;
}
.friend-card {
  display: flex;
  flex-direction: column;
  background-color: pink;
  background-size: 200px 20rem;
  height: 15rem;
  width: 12.52rem;
  margin: 1rem;
  align-items: center;
}
.friend-card img {
  margin-top: 4rem;
}

.friend-card button {
  border-radius: 10px;
  height: 40px;
  width: 50%;
}

.search-field {
  width: 22rem;
  height: 1.7rem;
  border-radius: 11px;
  padding-left: 1rem;
  font-size: 0.9rem;
}

.create-field {
  height: 1.7rem;
  width: 11rem;
  border-radius: 11px;
  padding-left: 1rem;
  font-size: 0.9rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.create-button {
  margin-top: 1.2rem;
  height: 1.9rem;
  width: 5.9rem;
  border-radius: 45px;
  background-color: darkblue;
  color: yellow;
}
