* {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    box-sizing: border-box;
    font-family: 'Fjalla One', sans-serif;
}
body {
    background-color: #e5e5e5;
}
.main-container {
    border: 2px solid grey;
    padding: 50px;
    border-radius: 8px; 
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.heading {
        font-weight: bold;
        font-size: 2rem;
        letter-spacing: 0.02em;
        background-color: white;
        color: #14213d;
}

input {
    background: none;
    outline: none;
    color: inherit;
    background-color: white;
    padding: 14px 40px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: black;
    border: 2px solid grey;
    border-radius: 8px; 
    background-color: white;
}
.button {
    background-color: #fca311;
    border: none;
    padding: 14px 40px;
    width: 100%;
    font-size: 16px;
    color: white;
    border-radius: 8px;;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button:hover {
    opacity: 0.6;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
.name, .temp, .desc {
    font-size: 2rem;
    color: #14213d;
}

