/* font-family: 'Dela Gothic One', cursive;
font-family: 'Montserrat', sans-serif; */

body {
    box-sizing: border-box;
    /* background-color: #adb5bd; */
    background-image: linear-gradient(to left, rgba(255,0,0,0), #adb5bd);;
}
#heading, #buttons {
    font-family: 'Dela Gothic One', cursive;
    letter-spacing: 2px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    position: sticky;
}
button {
    background-color: #fca311;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 0 10px 0 10px;
    box-shadow: 10px 10px 5px #343a40;
}
button:hover {
    opacity: 0.6;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100vh;
    width: 95%;
    margin: 25px 200px 75px 200px;
    text-align: center;
}
li {
    list-style-type: none;
}
h3 {
    background: #fca311;
    border: 2px solid white;
    border-radius: 25px;
    padding: 15px;
    width: 220px;
    height: 15px;
    justify-content: center;
    text-align: center;
}
.personCard {
    text-align: center;
    background-image: linear-gradient(to right, #000000, #14213d);;
    margin: 20px;
    border-radius: 15px;
    padding: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    max-width: 300px;
    border: 5px solid black;
    box-shadow: 10px 10px 5px #343a40;
}
.cardContainer {
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
} 
.personCard img {
    border-radius: 50%;
    border: 5px solid white;
}
.personCard img:hover {
    opacity: 0.6;
}
.userCard {
    max-width: 30%;
    text-align: center;
    margin: 20px;
    background-image: linear-gradient(to right, #000000, #14213d);;
    color: white;
    border-radius: 15px;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    border: 5px solid white;
    box-shadow: 10px 10px 5px #343a40;
    min-width: 300px;
}
.userCard h3 {
    margin-left: 15%;
}
.userContainer {
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
} 
