.App {
  font-family: sans-serif;
  text-align: center;
}
.shipping-form-header {
  font-weight: lighter;
}
.shipping-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.shipping-form input {
  margin: 0.4rem;
  padding: 0.7rem;
}
.shipping-input-text-street,
.shipping-input-text-apt,
.shipping-input-button {
  grid-column: 1/3;
}

.shipping-form-container {
  padding: 3rem;

  display: flex;
  justify-content: center;
}

.shipping-input-text-carlo {
  grid-column: 1/3;
}